.cart {
  position: absolute;
  top: 75px;
  left: 8px;
  width: calc(100% - 16px);
  background-color: var(--white);
  border-radius: 8px;
  box-shadow: 0px 0px 49px -17px rgba(0, 0, 0, 0.75);
}

.header {
  padding: 2.5rem;
  border-bottom: 1px solid var(--grayish-blue);
}

.cart-title {
  font-weight: 700;
}

.content {
  padding: 2.5rem;
  min-height: 188px;
}

.item {
  display: flex;
  align-items: center;
  gap: 1.8rem;
  justify-content: space-between;
  margin-bottom: 2.6rem;
}

.item-total {
  font-weight: 700;
}

.item-img img {
  max-width: 5rem;
  max-height: 5rem;
  object-fit: cover;
  border-radius: 4px;
}

.item-trash img {
  cursor: pointer;
}

.empty-cart {
  margin-top: 55px;
  text-align: center;
  font-weight: 700;
  color: var(--dark-grayish-blue);
}

@media screen and (min-width: 1111px) {
  .cart-wrapper {
    width: 1110px;
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    top: 0;
  }

  .cart {
    max-width: 360px;
    left: auto;
    right: 0;
    top: 100px;
  }
}
