.wrapper {
  margin-top: 3.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inner-wrapper {
  display: flex;
  align-items: center;
}

.current {
  font-size: 3.2rem;
  font-weight: 700;
  color: var(--very-dark-blue);
}

.current {
  margin-right: 1.6rem;
}

.discount {
  color: var(--orange);
  font-weight: 700;
  padding: 0.7rem 0.9rem;
  background-color: var(--pale-orange);
  border-radius: 0.5rem;
}

.initial {
  text-decoration: line-through;
  color: var(--dark-grayish-blue);
}

@media screen and (min-width: 1111px) {
  .wrapper {
    display: block;
  }

  .initial {
    font-weight: 700;
  }
}
