.wrapper {
  margin: 2.6rem 0;
  background-color: var(--light-grayish-blue);
  position: relative;
  display: flex;
}

.icon-minus,
.icon-plus {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 2.4rem;
  cursor: pointer;
}

.icon-plus {
  left: auto;
  right: 2.4rem;
}

.quantity {
  display: block;
  margin: 0 auto;
  text-align: center;
  background-color: transparent;
  border: none;
  height: 5.8rem;
  line-height: 5.8rem;
  font-weight: 700;
}

.icon-wrapper {
  display: inline-block;
  height: 5.8rem;
  width: 5.8rem;
  position: relative;
  user-select: none;
}

@media screen and (min-width: 1111px) {
  .wrapper {
    min-width: 156px;
  }
}
