.slider {
  position: relative;
  margin-bottom: 2.6rem;
}

.slider-image {
  max-height: 30rem;
  display: none;
  width: 100%;
  object-fit: cover;
}

.slider-image.active {
  display: block;
  cursor: pointer;
}

.slider-left-btn,
.slider-right-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 4rem;
  height: 4rem;
  left: 1.6rem;
  background-color: var(--white);
  border-radius: 50%;
  display: grid;
  place-items: center;
  cursor: pointer;
}

.slider-right-btn {
  left: auto;
  right: 1.6rem;
}

.slider-thumbs {
  display: none;
}

@media screen and (min-width: 1111px) {
  .slider {
    width: 446px;
    margin-bottom: 0;
  }

  .slider-images {
    border-radius: 10px;
    overflow: hidden;
  }

  .slider-image {
    max-height: 445px;
  }

  .slider-left-btn,
  .slider-right-btn {
    display: none;
  }

  .slider-thumbs {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
  }
}
